asgiref
async-timeout
boto3
botocore
Brotli
cachetools
certifi
cffi
charset-normalizer
colorama
commonmark
coverage
cryptography
decorator
defusedxml
deprecation
Django
django-allauth
django-cors-headers
django-extensions
django-templated-mail
django-unixdatetimefield
djangorestframework
djangorestframework-simplejwt
djoser
eyed3
filetype
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
googleapis-common-protos
httplib2
idna
imageio
imageio-ffmpeg
jmespath
moviepy
mutagen
numpy
oauthlib
packaging
pillow
proglog
proto-plus
protobuf
psycopg2
pyasn1
pyasn1_modules
pycparser
pycryptodomex
Pygments
PyJWT
pyparsing
python-dateutil
python-dotenv
python3-openid
pytz
redis
requests
requests-oauthlib
rich
rsa
s3transfer
sentry-sdk
six
social-auth-app-django
social-auth-core
spotify_dl
spotipy
sqlparse
toml
tqdm
typing_extensions
tzdata
uritemplate
urllib3
websockets
youtube-dl
yt-dlp
